@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<br />
<br />

<form asp-action="Create">   @*  default mthod is Post *@
    @* <div>
        <label asp-for="Name" class="col-form-label"></label>
        <input type="text" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
     <div>
        <label asp-for="Age" class="col-form-label"></label>
        <input type="number" asp-for="Age" class="form-control"/>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
     <div>
        <label asp-for="Address" class="col-form-label"></label>
        <input type="text" asp-for="Address" class="form-control"/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Salary" class="col-form-label"></label>
        <input type="number" asp-for="Salary" class="form-control" />
    </div>
    <div>
        <label asp-for="IsActive" class="col-form-label"></label>
        <input asp-for="IsActive" class="form-control custom-checkbox" />
    </div>
    <div>
        <label asp-for="Gender" class="col-form-label"></label>
        <input asp-for="Gender" class="form-control" />
    </div>
    <div>
        <label asp-for="Email" class="col-form-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber" class="col-form-label"></label>
        <input type="number" asp-for="PhoneNumber" class="form-control" />
    </div>
    <div>
        <label asp-for="IsDeleted" class="col-form-label"></label>
        <input asp-for="IsDeleted" class="form-control custom-checkbox" />
    </div>
    <div>
        <label asp-for="HireDate" class="col-form-label"></label>
        <input asp-for="HireDate" class="form-control" />
    </div> *@
    @* if partial view create in shared no need to ful path else we need to write name of folder of partial views *@
    <partial name="PartialViews/CreateEditEmployeePartial"></partial>

    <div class="my-4">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>

@section ValidateSection
{
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    <partial name="_ValidationScriptsPartial"></partial>
}
