@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete this department??</h1>
<br />
<br />

<form asp-action="Delete" asp-route-id="@Model.Id">
    <div>
        <label asp-for="Code" class="col-form-label"></label>
        <input type="text" asp-for="Code" class="form-control" readonly />
    </div>
    <div>
        <label asp-for="Name" class="col-form-label"></label>
        <input type="text" asp-for="Name" class="form-control" readonly />
    </div>
    <div>
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input asp-for="DateOfCreation" class="form-control" readonly />
    </div>

    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </div>
</form>

